<navbar class="navbar navbar-light bg-light navbar-expand-lg">
	<a href="#" class="brand">
		<img style="width: 100px;" src="/img/logo.svg" alt="HugeApk Logo"/>
	</a>

	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Inicio <span class="sr-only">(Página atual)</span></a>
		  </li>
		  
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Jogos
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			  <a class="dropdown-item" href="#">Ação</a>
			  <a class="dropdown-item" href="#">Arcade</a>
			  <a class="dropdown-item" href="#">Aventura</a>
			</div>
		  </li>
		</ul>
	  </div>
</navbar>